<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RulesSection" type="urlHandler.Configuration.RulesSection, urlHandler"/>
    <section name="DefaultApplicationsSection" type="urlHandler.Configuration.DefaultApplicationsSection, urlHandler"/>
  </configSections>
  
  <RulesSection>
    <rules>
      <add Name="TestRule" Protocol="http" ProcessName="" Pattern="^insite(/.*)?$" Application="C:\Program Files\Internet Explorer\IEXPLORE.EXE" Arguments="%1"/>
    </rules>
  </RulesSection>

  <DefaultApplicationsSection>
    <apps>
      <!--<add Protocol="http" Application="C:\Program Files\Opera\Opera.exe" Arguments="%1"/>-->
    </apps>
  </DefaultApplicationsSection>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
