<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RulesSection" type="urlHandler.Configuration.RulesSection, urlHandler"/>
    <section name="DefaultApplicationsSection" type="urlHandler.Configuration.DefaultApplicationsSection, urlHandler"/>
  </configSections>
  
  <appSettings>
  	<add key="Platform" value="Unix" /> <!-- Set this value to Unix to use Mono GetParentProcessName implementation -->
  </appSettings>
  
  <RulesSection>
    <rules>
    <add 
        Name="testProcessName"
        Protocol="https"
        ProcessName="test"
        Pattern=""
        Application="/usr/bin/opera"
        Arguments="%1"/>
      <add 
        Name="insiteWSS"
        Protocol="http"
        ProcessName=""
        Pattern="^insite(/.*)?$"
        Application="C:\Program Files (x86)\Internet Explorer\iexplore.exe"
        Arguments="%1"/>
      <add
			  Name="wssIE"
			  Protocol="http"
			  ProcessName=""
			  Pattern="^wss(/.*)?$"
			  Application="C:\Program Files (x86)\Internet Explorer\iexplore.exe"
			  Arguments="%1"/>
    </rules>
  </RulesSection>

  <DefaultApplicationsSection>
    <apps>
      <add Protocol="http" Application="C:\Program Files (x86)\Opera\Opera.exe" Arguments="%1"/>
      <!-- Unix based application example -->
      <add Protocol="https" Application="/usr/bin/opera" Arguments="%1"/>
    </apps>
  </DefaultApplicationsSection>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
